@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');

/* General properties */

body {
  background-color: #000000;
}

h1 {
  font-family: 'Roboto Slab', serif;
  color: #005E7C;
  font-weight: 500;
}

h2 {
  font-family: 'Roboto Slab', serif;
  color: #005E7C;
}

p, a {
  font-family: 'Roboto', sans-serif;
  color: #0094C6;
  font-weight: 300;
}

a {
  color: #003CDE;
  text-decoration: none;
}

a:hover {
  color: #00217A;
  text-decoration: underline;
}

/* Layout properties */

.container {
  width: 500px;
  margin: 30px auto;
  text-align: center;
}

.card {
  padding: 10px 20px 50px 20px;
  background-color: #040F16;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #7D80DA;
}

/* Feature properties */

.button-purple {
  background-color: #001242;
  color: #0094C6;
  padding: 15px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

.button-purple:hover {
  text-decoration: none;
  color: #0094C6;
  background-color: #000616;
  border: 1px solid #0094C6;
}

.image-circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  list-style-type: none;
  padding: 0px 5px;
}

.list-inline i {
  font-size: 35px;
}

#introduction {
  padding: 20px;
}

/* Media Queries */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
